@import "~src/styles.styl"

.block {
  border: block-border;
  width: 2em;
  height: 2em;
  display: flex;
  align-items center;
  justify-content center;
  user-select: none;
}

.cover {
  background: block-cover;
}
