@import "~src/styles.styl";

.container {
  height: 100vh;
  background-color: bg-color;
  color: fg-color;
}

.status {
  display: flex;
  justify-content center;
}

.map {
  display: flex;
  flex-direction: column;
  align-items center;
}

.row {
  display: flex;
}

.window {
  position: relative;
}

.map-cover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 20em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tip {
  background: bg-color;
  font-size: 2.5em;
  padding: 0.25em 0.5em;
  box-sizing: border-box;
  text-shadow: black 3px 3px 3px;
  box-shadow: fg-color 10px 10px 0px;
}
