/* You can add global styles to this file, and also import other style files */
fg-color = #6cf;
bg-color = #012;
nearly-white = #eee;
danger = #e80;

block-border = nearly-white 1px solid;
block-cover = alpha(nearly-white, 0.3);
